body {
  font-family: 'Indie Flower', cursive;
}

#title {
  text-align: center;
  margin-top: 1em;
}

#board {
  margin: auto;
  width: 302px;
  height: 302px;
  background: lightcoral;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  border: solid 1px lightcoral;
}

.box {
  border-radius: 6px;
  text-align: center;
  color: lightcyan;
  height: 100px;
  width: 100px;
  border: solid 1px white;
  font-size: 80px;
  line-height: 100px;
  cursor: pointer;
}

.box:hover {
  background: #ffa9a9;
}

#reset-btn {
  display: block;
  margin: 1em auto;
}

